*mysql
node_modules
public/hot
public/storage
storage/*.key
vendor
.idea
.vscode
.vagrant
.php_cs.cache
tests/coverage
packages
auth.json
Homestead
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.package
.env
.env.testing
_ide_helper.php
.phpunit.result.cache
.DS_Store
.scannerwork
.php-cs-fixer.cache
